$sunlit: #cff09e;
$seafoam: #a8dba8;
$teal: #79bd9a;
$emerald: #50a382;
$grass: #3f8b85;
$ocean: #337b80;
$neutral-a: #f9f9fb;
$neutral-b: #e9e8e8;
$neutral-c: #bebdba;
$neutral-d: #8e8b8a;
$neutral-e: #55514f;
$neutral-f: #3b3836;
$danger: #df5134;
$warning: #ebc260;
$info: #55a5b2;
